body {
    background-image: url(https://images3.pixlis.com/background-image-vertical-lines-and-stripes-seamless-tileable-red-black-22rpqr.png);

    background-size: initial;
}


.palkki {
    display: grid;
}

.navlist {
    list-style-type: none;
    grid-column: 2;
    grid-row: 1;
    font-size: 15px;
    margin-top: 20px;
}

li {
    display: block;
    padding: 20px 20px;
    margin-top: 60px;
}


.eka {
    box-shadow: 0 0 0 15px rgb(252, 0, 0); 
    border-radius: 20%;
    color:black;
    background: rgb(252, 0, 0);
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;

}


.logo {
    width: 200px;
    height: 200px;
    margin-left: 30px;
}

.otsikko {
    color: white;
    grid-column: 1;
    grid-row: 2;
    font-size: 6rem;
    margin-left: 30px;

}

.tekstidiv1 {
    grid-column: 1;
    grid-row: 3;
    margin-left: 30px;
    max-width: 1200px;

}

.kuva1 {
    grid-column: 2;
    grid-row: 3;
    width: 90%;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 800px;
}

.teksti1 {
    color: white;
    box-shadow: 0 0 0 5px rgb(247, 247, 247);
    border-radius: 10px;
    padding: 10px;

}


@media only screen and (max-width:768px) {
    .navlist, .eka {
        display: block;
        padding: 10px;
        grid-column: 1;
        grid-row: 2;    
        font-size: 15px;
        margin-top: 5px;

    }
    .otsikko {
        grid-column: 1;
        grid-row: 3;

    }
    .kuva1 {
        grid-column: 1;
        grid-row: 4;
    }
    .tekstidiv1 {
        grid-column: 1;
        grid-row: 5;
        
    }

}
