body {
background-color:rgb(211, 211, 211); 
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
padding: 5px;
text-align: center;
vertical-align: middle;
}

caption {
font-size: 1.4rem;
text-decoration: underline;
}

form {
    margin: 80px 0px 0px 0px;
    font-size: 17px;
}

textarea {
    width: 80px;
    height: 60px;
}

select {
    width: 130px;
}

fieldset {
    width: 400px;
}