body {
    background-image: url(https://www.designbolts.com/wp-content/uploads/2012/11/Trippy-little-Black-gradients-Seamless-Pattern.jpg);
    background-size: 300px;
}

.grid {
    display: grid;
}

.logo {
    grid-column: 1;
    grid-row: 1;
    width: auto;
    height: 350px;
    margin-left: 40px;
    margin-top: 30px;
}

.navlist {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    list-style-type: none;
}

li {
    margin: 100px 0px;
}
.navitem1 {
    text-decoration: none;
    font-family: garamond, Georgia;
    font-size: 4rem;
    color: rgba(255, 0, 0, 0.8);
    border: rgba(255, 0, 0, 0.8) 0.125em solid;
    padding: 0.25em 0.75em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.3em currentColor;
    box-shadow: 0 0 0.4em 0 rgb(255, 0, 0, 0.8), inset 0 0 0.3em 0 rgb(255, 0, 0, 0.8);
}

.navitem1:hover {
    background: rgb(255, 0, 0, 0.8);
    color: white;
}

.navitem2 {
    text-decoration: none;
    font-family: garamond, Georgia;
    font-size: 4rem;
    color: rgb(255, 0, 0, 0.8);
    border: rgba(255, 0, 0, 0.8) 0.125em solid;
    padding: 0.25em 0.75em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.3em currentColor;
    box-shadow: 0 0 0.4em 0 rgb(255, 0, 0, 0.8), inset 0 0 0.3em 0 rgb(255, 0, 0, 0.8);
}

.navitem2:hover {
    background: rgb(255, 0, 0, 0.8);
    color: white;
}

.otsikko {
    color: white;
    font-size: 6rem;
    font-family: garamond, Georgia;
    margin-left: 40px;
    text-shadow: 0 0 0.125em white;
}

.tekstidiv1 {
    grid-column: 1;
    grid-row: 3;
    margin-left: 40px;
    max-width: 800px;
}
.teksti1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:1.5em;
    border: 5px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 0.2em white, inset 0 0 0.2em white;
}

.kuvadiv1 {
    grid-column: 2;
    grid-row: 3;
    margin-left: 40px;
    margin-top: 20px;
}

.kuva1 {
    width: 90%;
    height: auto;
    border-radius: 10px;
}

.tekstidiv2 {
    grid-column: 2;
    grid-row: 4;
    margin-right: 40px;
    max-width: 1100px;
}

.teksti2 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:1.5em;
    border: 5px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 0.2em white, inset 0 0 0.2em white;
}

.kuvadiv2 {
    grid-column: 1;
    grid-row: 4;
    margin-top: 20px;
}
.kuva2 {
    width: 70%;
    height: auto;
    margin-left: 40px;
    border-radius: 10px;
    margin-right: 40px;
    float: right;
}

.tekstidiv3 {
    grid-column: 1;
    grid-row: 5;
    margin-left: 40px;
    max-width: 800px;
}

.teksti3 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:1.5em;
    border: 5px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 0.2em white, inset 0 0 0.2em white;
}

.kuvadiv3 {
    grid-column: 2;
    grid-row: 5;
    margin-left: 40px;
    margin-top: 20px;
}

.kuva3 {
    width: 90%;
    height: auto;
    border-radius: 10px;
}

li:not(:first-child) {
    margin-top: 100px;
}


@media only screen and (max-width:1260px) {
    .navitem1, .navitem2 {
        font-size: 2.5em;
        
    }
    .otsikko {
        font-size: 4rem;
    }

    .tekstidiv1 {
        grid-column: 1;
        grid-row: 3;
        margin-right: 40px;
    }
    .kuvadiv1 {
        grid-column: 1;
        grid-row: 4;
        margin-left: 40px;
    }
    .kuvadiv2 {
        grid-column: 1;
        grid-row: 6;
    }

    .kuva2 {
        float: left;
        width: 80%;
        height: auto;
    }

    .tekstidiv2 {
        grid-column: 1;
        grid-row: 5;
        margin-left: 40px;
    }

    .tekstidiv3 {
        grid-column: 1;
        grid-row: 7;
        margin-left: 40px;
        margin-right: 40px;
    }

    .kuvadiv3 {
        grid-column: 1;
        grid-row: 8;
        margin-left: 40px;
    }
}


@media only screen and (max-width:845px) {
    
    .navitem1, .navitem2 {
        font-size: 2em;
    }
    
    .navlist {
        grid-column: 1;
        grid-row: 3;
    }

    li {
        margin: 40px 0px;
    }

    .otsikko {
        font-size: 3em;
        grid-column: 1;
        grid-row: 2;
    }  

    .tekstidiv1 {
        grid-column: 1;
        grid-row: 4;
    }

    .kuvadiv1 {
        grid-column: 1;
        grid-row: 5;
    }

    .tekstidiv2 {
        grid-column: 1;
        grid-row: 6;
    }

    .kuvadiv2 {
        grid-column: 1;
        grid-row: 7;
    }
    .tekstidiv3 {
        grid-column: 1;
        grid-row: 8;
    }
    
    .kuvadiv3 {
        grid-column: 1;
        grid-row: 9;
    }


}