body {
	background-image:url(https://i.imgur.com/hcgyQSy.png);
		
}	

figure {
	position:absolute;
	left:800px;
	bottom:200px;
	font-family:Helvetica;
	font-size:15px;
}

h1 {
	background-color:rgba(250,250,250,0.4);
	width:380px;
	font-size:30px;
	color:green;
	font-family:Verdana, Helvetica;
	border-radius:15px;
	padding:10px 10px;
}

progress {
		color:white;
		font-family:Helvetica;
}	

p {
	width:300px;
	border-radius:5px;
	font-family:Helvetica;
	background-color:rgba(250,50,50,0.4);
	font-size:15px;
	padding:5px 5px;
}