body {
    width:90%;
    margin-left:auto;
    margin-right:auto;
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    background-color:khaki;
    text-align: center;
    color:midnightblue;
}

.nav {
    float:left;
    width:30%;
    background-color: rebeccapurple;
    height:250px;
}

.article {
    float:left;
    width:70%;
    background-color: turquoise;
    color:black;
    height:250px;
}

ul {
    list-style-type: none;
}


.footer {
    background-color:rgb(227, 238, 77);
    padding:10px;
    text-align: center;
    color:mediumblue;
}