body {
	background-image:url(https://i.imgur.com/hcgyQSy.png);
		
}	

figure {
	position:absolute;
	left:800px;
	bottom:200px;
}

h1 {
	background-color:rgba(250,250,250,0.4);
	font-size:30px;
	color:green;
	font-family:Verdana, Helvetica;
	border-radius:15px;
}