body {
	background-image:url(https://i.imgur.com/hcgyQSy.png);
		
}	

figure {
	position:absolute;
	left:600px;
	bottom:400px;
	
}

h1 {
	background-color:rgba(250,250,250,0.4);
	width:380px;
	font-size:30px;
	color:green;
	font-family:Verdana;
	border-radius:15px;
	padding:10px 10px;
}

	

p {
	margin-left:30px;
	width:300px;
	border-radius:5px;
	font-family:Verdana;
	background-color:rgba(250,50,50,0.4);
	font-size:15px;
	padding:5px 5px;
}