body {
	background-image:url(https://i.imgur.com/hcgyQSy.png);
		
}	

h1 {
	width:300px;
	
}
#ekakissa {
	width:450px;
	height:250px
	
}
#toinenkissa {
	position:absolute;
	top:50px;
	left:800px;
	width:700px;
}