body {
    width:90%;
    margin-left:auto;
    margin-right:auto;
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    background-color:khaki;
    padding:20px;
    text-align: center;
    color:midnightblue;
}

.nav {
    float:left;
    width:25%;
    background-color: rebeccapurple;
    color:seashell;
    padding:15px;
    height: 250px;
}

.article {
    float:left;
    width:75%;
    padding:15px;
    background-color: turquoise;
    color:black;
    height:250px;
}

ul {
    list-style-type: none;
}

section::after {
    content: "";
    display:table;
    clear:both;
}

.footer {
    background-color:lightcyan;
    padding:10px;
    text-align: center;
    color:mediumblue;
}