body {
	background-image:url(https://i.imgur.com/hcgyQSy.png);
		
}	

#otsikko {
	width:300px;
	
}
#ekakissa {
	width:450px;
	height:250px
	
}
#toinenkissa {
	position:absolute;
	left:800px;
	width:700px;
}