body {
	background-image:url(https://i.imgur.com/hcgyQSy.png);
		
}	

#toinenkissa {
	position:absolute;
	left:800px;
	width:700px;
}

h1 {
	background-color:rgba(120,200,50,0.3);
	font-size:30px;
	color:#ffffff;
	font-family:Verdana, Helvetica;
	border-radius:15px;
	