body {
    width:90%;
    margin-left:auto;
    margin-right:auto;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(218, 218, 218);
}

.header {
    background-color:khaki;
    text-align: center;
    color:midnightblue;
    font-size: 30px;
}

.nav {

    width:30%;
    background-color: rgb(252, 181, 208);
    height:250px;
}

.article {

    width:70%;
    background-color: turquoise;
    color:black;
    height:250px;
}

ul {
    list-style-type: none;
}

.section::after {
    content: "";
    display:table;
    clear:both;
}


.footer {
    background-color:rgb(227, 238, 77);
    padding:10px;
    text-align: center;
    color:mediumblue;
}