body {
	background-color: black;
	color:white;
}

h1 {
	font-size:20px;
}

p {
	font-size:12px;
	color:green;
}

.div-teksti {
	border-style:dotted;
	border-width:2px;
	height:100px;
}

ol {
	list-style-type:A
}

ul {
	list-style-type:square
}
